Package: naville.manualvpn
Name: ManualVPN
Depends: mobilesubstrate
Version: 4.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Naville
Author: Naville
Section: Tweaks
